body {
  font-family: "Montserrat", sans-serif;
}

ul {
  list-style-type: none;
  padding-left: 0;
}

a {
  text-decoration: none;
}

p,
h1,
h2,
h3,
h4,
h5,
h6 {
  padding-left: 0;
}

img {
  display: block;
}

button {
  cursor: pointer;
}

address {
  font-style: normal;
}

.container {
  margin-top: 0;
  margin-bottom: 0;
  width: 1166px;
  margin: 0 auto;
}

.visually-hidden {
  clip-path: inset(50%);
  height: 1px;
  overflow: hidden;
  position: absolute;
  white-space: nowrap;
  width: 1px;
}

.title {
  font-weight: 600;
  font-size: 24px;
  line-height: 1.16;
  letter-spacing: -0.03em;
  text-transform: uppercase;
  text-align: center;
  color: #111;
}

.title .accent {
  color: #fd9222;
}

/*---------------------------header----------------------------*/

.header {
  padding-top: 24px;
  padding-bottom: 32px;
}

.header-wrap {
  display: flex;
}

.header-nav {
  display: flex;
  flex-grow: 1;
  justify-content: space-between;
  align-items: center;
  margin-right: 90px;
}

.header-logo {
  font-weight: 700;
  font-size: 18px;
  line-height: 1.11;
  letter-spacing: -0.03em;
  color: #111;
  display: flex;
  align-items: center;
  gap: 4px;
}

.header-logo-italic {
  font-style: italic;
}

.header-logo-image {
}

.header-menu-list {
  display: flex;
  gap: 24px;
}

.header-menu-item {
}

.header-menu-link {
  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: -0.02em;
  color: #111;
}

.header-menu-link:hover,
.header-menu-link:focus,
.header-menu-link:active {
  color: #fd9222;
}

.header-soc-list {
  display: flex;
  gap: 14px;
}

.header-soc-item {
}

.header-soc-link {
}

/*--------------------------------------------------------*/

/*-----------------------hero-----------------------------*/

.section-hero {
  padding-bottom: 80px;
}

.hero-wrap {
  background-color: rgba(17, 17, 17, 0.6);
  padding: 380px 40px 40px 40px;
  border-radius: 30px;
}

.hero-title {
  font-weight: 500;
  font-size: 28px;
  line-height: 1.21;
  letter-spacing: -0.03em;
  color: #fff;
  max-width: 484px;
}

.hero-button-wrap {
  display: flex;
  align-items: center;
}

.hero-button-buy {
  font-weight: 600;
  font-size: 14px;
  color: #fff;
  background-color: #fd9222;
  border-radius: 100px;
  border: none;
  padding: 14px 40px;
  margin-right: 14px;
}

.hero-button-buy:active {
  color: #fd9222;
  background-color: #fcf1e0;
}

.hero-button-link {
  font-weight: 600;
  font-size: 14px;
  color: #fff;
  border-radius: 100px;
  padding: 14px 40px;
  border: 1px solid #fff;
  background-color: transparent;
}

.hero-scroll-link {
  font-weight: 500;
  font-size: 14px;
  line-height: 1.28;
  letter-spacing: -0.03em;
  color: #fff;
  margin-left: auto;
}

/*-----------------------------------------------------------*/

/* -------------------------features------------------------- */

.features {
  background-color: #1e1823;
  padding-top: 50px;
  padding-bottom: 50px;
}

.features-list {
  padding-left: 18px;
  padding-right: 18px;
  display: flex;
  gap: 88px;
}

.features-item {
  width: calc((100% - 2 * 88px) / 3);
}

.features-subtitle {
  font-weight: 600;
  font-size: 18px;
  color: #fff;
  margin-bottom: 18px;
}

.features-item-subtitle {
  font-size: 14px;
  line-height: 1.28;
  letter-spacing: -0.02em;
  color: rgba(255, 255, 255, 0.7);
}

/* ---------------------------------------------------------- */

/* ---------------------------taste-------------------------- */

.taste {
  padding-top: 120px;
  padding-bottom: 60px;
}

.taste-title {
  max-width: 412px;
  margin: 0 auto;
  margin-bottom: 28px;
}

.taste-text {
  font-size: 14px;
  line-height: 1.28;
  letter-spacing: -0.02em;
  text-align: center;
  color: #111;
  margin-bottom: 50px;
  max-width: 486px;
  margin: 0 auto;
}

.taste-list {
  display: flex;
  flex-wrap: wrap;
  gap: 24px 32px;
}

.taste-item {
  border-radius: 15px;
  width: calc((100% - 3 * 32px) / 4);
  padding-top: 28px;
  padding-bottom: 28px;
}

.taste-item:nth-child(4n + 1) {
  background-color: #fd9222;
  color: #111;
}

.taste-item:nth-child(2n + 2) {
  background-color: #fff;
  border: 1px solid #fd9222;
  color: #111;
}

.taste-item:nth-child(4n + 3) {
  background-color: #1e1823;
  color: #fff;
}

.taste-image {
  margin: 0 auto;
  margin-bottom: 36px;
}

.taste-subtitle {
  font-weight: 600;
  font-size: 14px;
  line-height: 1.28;
  letter-spacing: -0.02em;
  text-transform: uppercase;
  padding-left: 28px;
}

/* -------------------------------------------------------------- */

/* -------------------------------made----------------------------- */

.made {
  padding-top: 60px;
  padding-bottom: 60px;
}

.made-wrap {
  display: flex;
}

.made-title {
  margin-bottom: 50px;
}

.made-subtitle {
  font-weight: 600;
  font-size: 18px;
  line-height: 1.33;
  color: #111;
  margin-bottom: 28px;
  max-width: 350px;
}

.made-image {
}

.made-list {
  gap: 24px;
}

.made-item {
}

.made-text {
  font-size: 14px;
  line-height: 1.29;
  letter-spacing: -0.02em;
  color: #111;
}

/* ------------------------------------------------------ */

/* ----------------------products------------------------ */

.products {
  padding-top: 60px;
  padding-bottom: 60px;
}

.products-title {
  margin-bottom: 50px;
}

.products-list {
}

.products-wrap {
  display: flex;
  flex-wrap: wrap;
  gap: 24px 18px;
}

.products-item {
  padding-top: 32px;
  padding-bottom: 32px;
  border: 1px solid rgba(17, 17, 17, 0.1);
  border-radius: 15px;
  width: calc((100% - 3 * 18px) / 4);
}

.products-image {
  margin: 0 auto;
}

.products-subtitle {
  font-weight: 600;
  font-size: 18px;
  line-height: 1.33;
  letter-spacing: -0.02em;
  text-transform: uppercase;
  color: #111;
}

.products-text {
  font-size: 12px;
  line-height: 1.17;
  letter-spacing: -0.02em;
  color: rgba(17, 17, 17, 0.7);
}

.products-button {
  font-weight: 600;
  font-size: 14px;
  color: #111;
  border: 1px solid rgba(17, 17, 17, 0.1);
  border-radius: 100px;
  padding: 8px 20px;
}

/* ------------------------------------------------------ */

/* -------------------sellers---------------------------- */

.sellers {
  padding-top: 60px;
  padding-bottom: 60px;
}

.sellers-title {
  margin-bottom: 50px;
}

.sellers-list {
}

.sellers-item {
}

.sellers-image {
}

.sellers-subtitle {
  font-weight: 600;
  font-size: 18px;
  line-height: 1.33;
  letter-spacing: -0.02em;
  text-transform: uppercase;
  color: #111;
}

/* ------------------------------------------------------ */

/* -------------------loved---------------------------- */

.loved {
  padding-top: 60px;
  padding-bottom: 60px;
}

.loved-title {
  margin-bottom: 50px;
}

.loved-list {
}

.loved-item {
}

.loved-image {
}

.loved-subtitle {
  font-weight: 600;
  font-size: 18px;
  line-height: 1.33;
  text-align: center;
  color: #111;
  margin-bottom: 24px;
}

.loved-text {
  font-size: 14px;
  line-height: 1.29;
  letter-spacing: -0.02em;
  text-align: center;
  color: rgba(17, 17, 17, 0.7);
  max-width: 312px;
}

.loved-btn {
  font-weight: 600;
  font-size: 18px;
  color: #111;
}

/* ----------------------------------------------------------------- */

/* ------------------------footer---------------------------- */

.footer {
  padding-top: 60px;
  background-color: #1e1823;
}

.footer-text {
  font-weight: 500;
  font-size: 28px;
  line-height: 1.21;
  letter-spacing: -0.02em;
  color: #fd9222;
  max-width: 300px;
}

.footer-accent {
  color: #fff;
}

.footer-subtitle {
  font-weight: 500;
  font-size: 14px;
  line-height: 1.29;
  text-align: center;
  color: #fff;
}

.footer-soc-list {
}

.footer-soc-item {
}

.footer-soc-link {
}

.footer-contacts {
}

.footer-contacts-list {
}

.footer-contacts-item {
}

.footer-contacts-link {
  font-size: 14px;
  line-height: 1.29;
  letter-spacing: -0.02em;
  text-align: center;
  color: #fff;
}

.footer-menu-list {
}

.footer-menu-item {
}

.footer-menu-link {
  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: -0.02em;
  color: #fff;
}

/* ----------------------------------------------------------------- */
